#logo {
    width:15%;
}
#profile_pic {
    width:10%;
}

.highlight img {
    width:5%;
}

.thumbnail_grid {
    display: grid;
    width: 60vw;
    height:50vh;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 1%;
}

.back {
    background-color: black;
    background-position: center;
    width:100%;
    height:60px;
    padding-top:50%;
    padding-bottom:50%;
    overflow:hidden;
}

.thumbnail {
    width:100%;
    height:100%;
    object-fit:cover;
    overflow: hidden;
}

body {
    padding-left: 20vw;
    padding-right: 20vw;
}
